@use "../utils/mixin";
@use "../utils/variables" as v;

.badge {
  @include mixin.badge-base;
  color: v.$badge-cl;
}

.badges-completed {
  background-color: v.$completed;
}

.badges-ended {
  background-color: v.$ended;
}
.badges-activ {
  background-color: v.$activ;
}
