/*Approach 1 */
.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 480px;
  padding: 20px;
}
.notification {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 480px;
  padding: 20px;

  font-family: Montserrat;
  color: #fafafb;
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: 0.5px;

  background-color: #92929d;
  border-radius: 6px;
}

.notification-primary {
  background-color: #f07f2e;
}

.notification-success {
  background-color: #82c43c;
}
